# Gradle files
.gradle/
/build/
/app/build/
/app/.cxx/
/app/src/main/.externalNativeBuild/
/app/src/main/assets/
/app/src/main/jniLibs/
gradle-wrapper.jar
local.properties
*.iml

# Android Studio and IntelliJ IDEA files
.idea/
.project
.DS_Store
*.apk
*.ap_
*.aar
*.dex
*.so
captures/
lint-results.html
lint-results.xml

# Keystore files
*.jks
debug.keystore

# Local Configuration
.externalNativeBuild/

# Misc
*.log
*.orig
*.bak
# Kotlin
*.kpt
.idea/libraries/
.idea/workspace.xml
# For kotlin dsl
.gradle.enterprise/
.sender/

# User-specific files that may be created by Android Studio
.navigation/

# Room Persistence Library - Schema exports
# For production builds, you should generally store and ship the schema.
# For development, you can ignore it to avoid version control conflicts.
# Uncomment the following line if you wish to ignore Room schema exports.
# app/schemas/
